<h1>home</h1>
<div class="row row-cols-3 row-cols-md-6 g-4">
  <div class="col"
  *ngFor="let meter of meters">
    <div class="card" style="height:200px"
        role="button"
        [routerLink]="['/meter/' + meter.id]">
      <img
          height="130"
          class="card-img-top"
          [src]="'https://tst-nexmeterup.cloud.apeironlab.tech/api/attachments/' + meter.imageFilename +'?inline=true'" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ meter.id}}</h5>

        <p class="card-text"> </p>
      </div>
    </div>
  </div>
</div>


